<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/188b0a3462.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class ="container">
          <h4 class="navbar-brand">Bookers</h4>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-home"></i>Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-user"></i>Users </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="fas fa-book"></i>Books </a>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path,class:"nav-link",method: :delete do%>
                    <i class="fas fa-sign-out-alt">logout</i>
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to root_path,class:"nav-link" do%>
                    <i class="fas fa-home">Home</i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to home_about_path ,class:"nav-link" do%>
                    <i class="fas fa-link">About</i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path ,class:"nav-link" do %><i class="fas fa-user-plus">sign up </i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path ,class:"nav-link" do%>
                    <i class="fas fa-sign-in-alt">login</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
